body{
    margin: 0;
    background-color: #d4e0f1;
    font-family: lalezar;
    src: url(../qw/fonts/2\ LALEZAR\ \(TARFAND3.COM\).TTF);
    direction: rtl;
    overflow-x: hidden;
}
.safe-area{
    margin: 1rem;
    padding: 1rem;
}
#mahsoul{
    direction: rtl;
    font-size: 400%;
}

#obj{
display: flex;
flex-wrap: wrap;
overflow: hidden;
justify-content: center;
}
.pic{
    padding: 0;
    width: 300px;
    box-shadow: 8px 8px 8px 2px rgba(0, 0, 0, 0.527);
    margin: 1rem;
    flex-basis: 20%;
    display: flex;
    flex-wrap: wrap;
}
.pic :hover{
    cursor: crosshair;
    width: 80%;
}
#khat{
    margin-right: 25%;
    margin-left: 25%;
    display: flex;
    box-shadow: 4px 4px 15px 2px #1f0fd0;
}
#link{
    flex-basis: 80%;
    width: 100%;
}
#about{
    direction: rtl;
    font-size: x-large;
    flex-basis: 80%;
}
#customer{
    direction: rtl;
}
.div{
    font-size: xx-large;
    display: inline-block;
}
#link{
    display: inline-block;
}
#btn{
    background: linear-gradient(90deg,#1f0fd0,#a9c4ec,#ff1500);
font-size: x-large;
}
#cls{
    display: flex;
    flex-wrap: wrap;
}
#footer-sec {
    margin-top: 2rem;
    height: 0%;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(31, 11, 111);
    color: rgb(255, 255, 255);
    text-align: center;
}
#matn{
    margin: 0%;
    font-size: x-large;
}
.imagess{
    width: 32px;
    height: auto;
}
#contact-sec{
    font-size: 40%;
}